body{
    background-color: #f3f3f3;
}
/* Hide scrollbar */
.scrollbar-hidden::-webkit-scrollbar {
  display: none;  /* Hide the scrollbar */
}

.scrollbar-hidden {
  -ms-overflow-style: none;  /* For Internet Explorer 10+ */
  scrollbar-width: none;  /* For Firefox */
}

.anime {
  animation: popup 0.3s linear;
}
@keyframes popup {
  from {
    scale: 0.5;
    opacity: 0;
  }
  to {
    scale: 1;
    opacity: 1;
  }
}